// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

.card-header{
    padding-top: 15px;
}
.modal-body{
    padding-left:25px;
}
.nav-treeview{
    padding-left: 15px !important;
}
.nav-item .has-treeview .nav-link{
    width: 95% !important;
}
a.nav-link.font-active{
    color: #AAA !important;
}
a.nav-link.active.font-active{
    color: #FFF !important;
}
.tox.tox-tinymce-aux,
.tox-fullscreen .tox.tox-tinymce-aux {
    z-index: 4000 !important;
}
