{
	# Enable FrankenPHP
	frankenphp {
        num_threads 2 # Number of PHP workers
    }
}

localhost {
	# Enable compression (optional)
	encode zstd br gzip
	# Execute PHP files in the current directory and serve assets
	php_server
}
